@import "../../vendor/bower/bootstrap/less/mixins.less";
@import "_variables.less";


.border-radius(@rad: 2px){
  -webkit-border-radius:@rad;
  -moz-border-radius:@rad;
  border-radius:@rad;
}

.border(@bd-width){
 border: @bd-width double #888;

}

.mess-brd(@bgc, @p){
  padding: 0 @p @p @p;
  background-color: @bgc;
  .border(4px);
}

.folded(left, @bgc-folded, @fold-size, @fold-shadow, @bgc-bg){
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: @fold-size solid darken(@bgc-folded, 10%);
    border-left: @fold-size solid transparent;
    -webkit-box-shadow: @fold-shadow @fold-shadow @fold-shadow rgba(0,0,0,0.3);
    -moz-box-shadow: @fold-shadow @fold-shadow @fold-shadow rgba(0,0,0,0.3);
    box-shadow: @fold-shadow @fold-shadow @fold-shadow rgba(0,0,0,0.3);
  }
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: @fold-size * 0.96 solid @bgc-bg;
    border-right: @fold-size * 0.96 solid transparent;
  }
}

.sticker(@bg-color: rgba(196, 196, 196, 0.4); @size: 200px){
  display: block;
  .size(@size, @size);
  .transition(0.5s ease-in-out;);
  .scale(1; 1);
  position: relative;
  margin-right: @size * 0.05;
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  #gradient > .vertical(@bg-color; darken(@bg-color, 30%); 0%; 100%);
  .folded(left, @bg-color, @size * 0.15, 7px, @bgc-mess-board);
  font-family: 'Ubuntu', Times, serif !important;
  font-style: italic;
  &:hover{
    .scale(1.04; 1.04);
    -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.4);
    box-shadow: 7px 7px 7px rgba(0,0,0,0.4);
  }
}

.sticker-header(@p-top,@p-bottom){
  padding: @p-top 0 0 @p-bottom;
}

.thumb-link{
  position: relative;
  float: left;
  width: 18%;
  min-height: 22%;
  margin: 0 1.5% 1.5% 0;
  background-color: #fff;
  border: @tab-content-border;
}

.curtain(@height){
  position: absolute;
  width: 100%;
  height: @height;
  text-align: center;
  padding-top: 30px;
  word-break: keep-all;
  background-color: #fff;
  border-bottom: @tab-content-border;
  transition: (0.5s);
}