@import "../../vendor/bower/bootstrap/less/variables.less";
@icon-font-path: "http://netdna.bootstrapcdn.com/bootstrap/3.3.6/fonts/";

@navbar-inverse-bg: #00849D;
@navbar-inverse-link-color: #ddd;
@navbar-inverse-link-hover-color: #fff;
@brand-success: #A0CD1B;
@body-bg-img1: url("../img/sec_fon.jpg");
@table-border-color : #aaa;
