@import "../../vendor/bower/bootstrap/less/variables.less";
@icon-font-path: "http://netdna.bootstrapcdn.com/bootstrap/3.3.6/fonts/";

@navbar-inverse-bg: #00849D;
@navbar-inverse-link-color: #ddd;
@navbar-inverse-link-hover-color: #fff;
@navbar-inverse-active-link-hover-color: @navbar-inverse-link-color;
@brand-success: #7b9264;
@border-success: #d6e9c6;
@font-color-success: #3c763d;
@brand-danger: #92647b;
@brand-primary : #647a92;
@body-bg-img1: url("../img/cen_fon_.jpg");
@table-border-color : #647a92;
@table-caption-text-color: #647a92;
@tab-content-border : 1px solid @table-border-color;
@tab-content-border-top : none;
@tab-content-padding : 7px 2px 0;
@tab-content-border-radius : 4px;
@photo-padding: 0 0 10px 0;
@nav-link-active-bg : #00596a;
@bgc-mess-board : #ddd;
@ml-sticker-elem : 6px;

