.material-cart{
    margin: 20px 0 10px;
}
    .material-cart__attributes{
        padding-top: 10px;
    }
    .material-cart__image{
        border: 1px solid #000;
        padding: 5px;
        text-align: center;
    }
    .material-cart__movements-data{
        padding: 0 15px;
    }
        .material-cart__movements-data > .row > div{
            color: #555!important;
            text-align: center!important;
        }
    .material-cart__nav-tabs{
        margin-top: 40px;
    }
        .material-cart__nav-tabs .tab-pane.active{
            border: 1px solid #ddd;
            border-top: none;
            -webkit-border-radius: 0 0 4px 4px!important;
            -moz-border-radius: 0 0 4px 4px!important;
            border-radius: 0 0 4px 4px!important;

        }


